{% extends "base.html" %}
<div></div>
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-6 d-flex flex-column justify-content-center">
      <h1>
        Task management <br />
        and list Tool
      </h1>
      <p>
        Use the shortest possible time to create tasks, use <br />
        all the free features to make the most of them
      </p>
      <div class="btn btn-primary w-25">Get Started</div>
    </div>
    <div class="col-md-6">
      <img
        class="img-fluid"
        src="https://img.freepik.com/free-vector/list-concept-illustration_114360-2498.jpg?w=740&t=st=1702218560~exp=1702219160~hmac=6044462241b919188cba4d2e2ec5e756cd86af6ef025c4b87f13fedcf49c97cf"
        alt=""
      />
    </div>
  </div>
</div>
{% endblock content %}
